<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Notes App</h1>
    <h1>MY NOTES</h1>
    <ul>
    {% for note in notes %}
        <li>
            <h2>{{ note.title }}</h2>
            <p>{{ note.content }}</p>
        </li>
        {% else %}
        <p>No notes created yet</p>  
    {% endfor %}
    </ul>
    <h2>Create new note</h2>
    <a href="{{ url_for('create_note') }}">Create new</a>

</html>